In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/derived/CarCrashData-Cleaned.csv")
data.datetime = pd.to_datetime(data.datetime, format="%Y/%m/%d %H:%M:%S")
data.head()

,datetime,day_of_week,lga,latitude,longitude,type,road_class,is_hit_and_run,light_condition,police_attended,...,total_non_injury,total_male,total_female,total_bicyclist,totaL_passenger,total_driver,total_pedestrian,total_pillion,total_motorist,total_unknown
0,2015-07-01 01:37:00,Wednesday,Wyndham,-37.868424,144.733170,Overturned (no collision),Arterial Other,False,Dark (lights on),True,...,0,1,0,0,0,0,0,0,1,0
1,2015-07-01 03:05:00,Wednesday,Monash,-37.893493,145.093413,Vehicle,Arterial Highway,False,Dark (lights on),True,...,2,2,0,0,1,2,0,0,1,0
2,2015-07-01 04:10:00,Wednesday,Yarra Ranges,-37.897932,145.357961,Animal,Arterial Other,False,Dark (no lights),False,...,0,1,0,0,0,0,0,0,1,0
3,2015-07-01 04:30:00,Wednesday,Geelong,-38.150540,144.581600,Vehicle,NaN,False,Dark (no lights),True,...,1,1,2,0,0,1,2,0,0,0
4,2015-07-01 04:30:00,Wednesday,Casey,-37.996330,145.269155,Pedestrian,Freeway,False,Dark (lights on),True,...,1,2,0,0,0,1,1,0,0,0

In [20]:
lga_meta = pd.read_excel("../data/2021Census_geog_desc_1st_and_2nd_release.xlsx", sheet_name="2021_ASGS_Non_ABS_Structures")
lga_meta = lga_meta[lga_meta.ASGS_Structure == "LGA"]

In [21]:
lga_meta = lga_meta[lga_meta.AGSS_Code_2021.astype(str).str.contains("^2", regex=True)]

In [22]:
lga_meta.Census_Name_2021 = lga_meta.Census_Name_2021.str.replace(" (Vic.)", "", regex=False)

In [33]:
pop_data = pd.read_csv("../data/population.csv")

In [34]:
pop_data = pop_data[["LGA_CODE_2021", "Tot_P_P"]]
pop_data.columns = ["lga_code", "population"]

In [36]:
pop_data.merge(lga_meta, left_on="lga_code", right_on="Census_Code_2021").to_csv("../data/derived/population.csv", index=False)

In [13]:
data = pd.read_csv("../data/derived/CarCrashData-Cleaned.csv")

In [7]:
data[data.lga.isin(["Melbourne", "Casey", "Geelong", "Dandenong", "Brimbank", "Whittlesea", "Monash", "Yarra Ranges", "Moreland", "Darebin"])].to_csv("../data/derived/CarCrashData-Top10.csv")

In [12]:
data[data.speed_zone.isin(['60 km/hr', '70 km/hr', '100 km/hr',
       '80 km/hr', '50 km/hr', '110 km/hr', '40 km/hr',
       '30 km/hr'])].to_csv("../data/derived/CarCrashData-SpeedZones.csv")

In [16]:
data[data.road_geometry.isin(['Not at intersection', 'Cross intersection',
       'T intersection', 'Private property', 'Multiple intersection', 'Y intersection'])].to_csv("../data/derived/CarCrashData-RoadGeometry.csv")

In [15]:
data.road_geometry.value_counts()

Not at intersection      39817
Cross intersection       15911
T intersection           15700
Multiple intersection     1417
Unknown                   1089
Private property           962
Y intersection             215
Dead end                    91
Road closure                 3
Name: road_geometry, dtype: int64