# Car crash dataset preparation

This notebook details the process undertaken to clean and prepare the dataset for the FIT3179 Visualisation 2 assignment.

## Libraries and imports

In [1]:
import pandas as pd
import numpy as np
import datetime

# display every line interactively
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Read dataset

In [2]:
df = pd.read_csv("../data/raw/Road_Crashes_for_five_Years_Victoria.csv")

In [3]:
df.shape
df.head()

(75320, 65)

,X,Y,OBJECTID,ACCIDENT_NO,ABS_CODE,ACCIDENT_STATUS,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,...,DEG_URBAN_ALL,LGA_NAME_ALL,REGION_NAME_ALL,SRNS,SRNS_ALL,RMA,RMA_ALL,DIVIDED,DIVIDED_ALL,STAT_DIV_NAME
0,2520840.558,2392193.725,1,T20150013821,ABS to receive accident,Finished,2015/07/01 00:00:00+00,1899/12/30 07:00:00+00,No,Collision with vehicle,...,MELB_URBAN,CASEY,METROPOLITAN SOUTH EAST REGION,M,M,Freeway,Freeway,Divided,Divided,Metro
1,2526250.022,2381737.187,2,T20150013832,ABS to receive accident,Finished,2015/07/01 00:00:00+00,1899/12/30 09:55:00+00,No,Collision with vehicle,...,MELB_URBAN,CASEY,METROPOLITAN SOUTH EAST REGION,C,C,Arterial Other,"Arterial Other,Local Road",Divided,"Divided,Undivided",Metro
2,2538721.430,2400594.959,3,T20150013882,ABS to receive accident,Finished,2015/07/01 00:00:00+00,1899/12/30 21:50:00+00,Yes,Collision with a fixed object,...,MELB_URBAN,YARRA RANGES,METROPOLITAN SOUTH EAST REGION,C,C,Arterial Other,Arterial Other,Undivided,Undivided,Metro
3,2516547.808,2389749.139,4,T20150013886,ABS to receive accident,Finished,2015/07/01 00:00:00+00,1899/12/30 06:00:00+00,Yes,Collision with a fixed object,...,MELB_URBAN,DANDENONG,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Arterial Highway,"Local Road,Arterial Highway",Divided,"Undivided,Divided",Metro
4,2485112.951,2413934.747,5,T20150013922,ABS to receive accident,Finished,2015/07/02 00:00:00+00,1899/12/30 15:50:00+00,No,Collision with vehicle,...,MELB_URBAN,BRIMBANK,METROPOLITAN NORTH WEST REGION,NaN,NaN,Local Road,Local Road,Undivided,Undivided,Metro

## Preprocessing

``` txt
Temporal
    Date
    Time
    Day of week

Spatial
    Longitude
    Latitude
    LGA

Demographics
    Total persons
    Male
    Female
    Bike
    Passenger
    Driver
    Pedestrian
    Pillion
    Motorist
    Unknown

Outcome
    Severity
    Fatal
    Serious injury
    Other injury
    Not injured

Other
    Accident type
    Hit and run
    Police attendance

Conditions
    Alcohol Time
    Alcohol related
    RMA
    Speed zone
    Light condition
    Road geometry
```

### Column selection

The original dataset comes with 65 columns. Many of these are not interesting (for the purposes of this assignment), are not viable (for visualisation), or would be 'cluter' among the other more appropriate data attrbutes.

We refine the dataset into a select number of columns. A complete list of domains and descriptions for all attributes in this dataset can be found on the [MetaData viewer](https://data.vicroads.vic.gov.au/metadata/Crashes_Last_Five_Years%20-%20Open%20Data.html) for this [dataset](https://vicroadsopendata-vicroadsmaps.opendata.arcgis.com/datasets/vicroadsmaps::road-crashes-for-five-years-victoria/about).

<details>
<summary>See table of attribute definitions</summary>

<table>
    <thead>
        <tr>
            <th>FIELD NAME</th>
            <th>FIELD TYPE</th>
            <th>FIELD WIDTH</th>
            <th>FIELD DEFINITION</th>
            <th>FIELD DOMAIN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ACCIDENT_DATE</td>
            <td>Text</td>
            <td>255</td>
            <td>Accident Date</td>
            <td>dd/mm/yyyy. (e.g.: 10 July 1995 = 10/07/1995)</td>
        </tr>
        <tr>
            <td>ACCIDENT_TIME</td>
            <td>Text</td>
            <td>255</td>
            <td>Accident Time</td>
            <td>hh.mm.ss</td>
        </tr>
        <tr>
            <td>RMA</td>
            <td>Text</td>
            <td>255</td>
            <td>Road Management Act (2004) classification</td>
            <td>(FW) Freeway / (AH) Arterial - Highway / (AO) Arterial - other / (LO) Local road / (NR) Non-Arterial
                State road / (RO) Roads Other / (PR) Committed Proposed road</td>
        </tr>
        <tr>
            <td>ALCOHOLTIME</td>
            <td>Text</td>
            <td>80</td>
            <td>Incidents occurred within Road Crash Information System Definition of Alcohol Times</td>
            <td>Alcohol Times are defined as the following: &bull; Monday &ndash; Thursday 00:00-06:00 hours &amp;
                18:00-2359 hours &bull; Friday 00:00-06:00 hours &amp; 16:00-23:59 hours &bull; Saturday 00:00-08:00
                hours &amp; 14:00-23:59 hours &bull; Sunday 00:00-10:00 hours &amp; 16:00-23:59 hours.</td>
        </tr>
        <tr>
            <td>LATITUDE</td>
            <td>Text</td>
            <td>100</td>
            <td>Geographical coordinates</td>
            <td></td>
        </tr>
        <tr>
            <td>LONGITUDE</td>
            <td>Text</td>
            <td>100</td>
            <td>Geographical coordinates</td>
            <td></td>
        </tr>
        <tr>
            <td>ACCIDENT_TYPE</td>
            <td>Text</td>
            <td>100</td>
            <td>Accident Type</td>
            <td>&bull; Collision with a fixed object &bull; Collision with some other object &bull; Collision with
                vehicle &bull; Fall from or in moving vehicle &bull; No collision and no object struck &bull; Other
                accident &bull; Struck animal &bull; Struck Pedestrian &bull; Vehicle overturned (no collision)</td>
        </tr>
        <tr>
            <td>DAY_OF_WEEK</td>
            <td>Text</td>
            <td>100</td>
            <td>Day of week</td>
            <td>E.g. Monday</td>
        </tr>
        <tr>
            <td>HIT_RUN_FLAG</td>
            <td>Text</td>
            <td>100</td>
            <td>Indicates whether or not the crash was a hit-run accident.</td>
            <td>No, Yes, Unknown</td>
        </tr>
        <tr>
            <td>LIGHT_CONDITION</td>
            <td>Text</td>
            <td>100</td>
            <td>Indicates the light condition or level of brightness at the time of the accident.</td>
            <td>Day, Dusk/dawn, Dark (street lights on), Dark (street lights off), Dark (no street lights), Dark (street
                lights unknown), Unknown</td>
        </tr>
        <tr>
            <td>POLICE_ATTEND</td>
            <td>Text</td>
            <td>100</td>
            <td>POLICE_ATTEND is a character field indicates whether the police attended the scene of the accident or
                not.</td>
            <td>Yes No Not known</td>
        </tr>
        <tr>
            <td>ROAD_GEOMETRY</td>
            <td>Text</td>
            <td>100</td>
            <td>ROAD_GEOMETRY is a character field indicates the layout of the road where the accident occurred.</td>
            <td>Cross intersection T-intersection Y-intersection Multiple intersections Not at intersection Dead end
                Road closure Private property Unknown</td>
        </tr>
        <tr>
            <td>SEVERITY</td>
            <td>Text</td>
            <td>100</td>
            <td>SEVERITY is a character field indicates VicRoads estimation of the severity or seriousness of the
                accident, based on the POLICE_SEVERITY field.</td>
            <td>Fatal accident Serious injury accident Other injury accident Non injury accident</td>
        </tr>
        <tr>
            <td>SPEED_ZONE</td>
            <td>Text</td>
            <td>100</td>
            <td>SPEED_ZONE is a character field indicates the speed zone at the location of the accident. The speed zone
                is generally assigned to the main vehicle involved.</td>
            <td>30km/hr 40km/hr 50km/hr 60km/hr 70km/hr 75km/hr 80km/hr 90km/hr 100km/hr 110km/hr Other speed limit
                Camping grounds or off road Not known</td>
        </tr>
        <tr>
            <td>LGA_NAME</td>
            <td>Text</td>
            <td>100</td>
            <td>LGA_NAME is a character field contains the LGA name.</td>
            <td>Blank (indicates unknown)</td>
        </tr>
        <tr>
            <td>TOTAL_PERSONS</td>
            <td>Number</td>
            <td>4</td>
            <td>Total number of persons involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>FATALITY</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of persons killed in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>SERIOUSINJURY</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of Persons seriously injured in the crash. Any person taken to hospital more likely to be classed
                as a serious injury.</td>
            <td></td>
        </tr>
        <tr>
            <td>OTHERINJURY</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of Persons injured but not classed as seriously injured in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>NONINJURED</td>
            <td>Number</td>
            <td>4</td>
            <td>Total persons involved but not injured in crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>MALES</td>
            <td>Number</td>
            <td>4</td>
            <td>Total males involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>FEMALES</td>
            <td>Number</td>
            <td>4</td>
            <td>Total females involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>BICYCLIST</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of pedal BICYCLISTs involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>PASSENGER</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of Vehicle PASSENGERS involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>DRIVER</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of DRIVERS involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>PEDESTRIAN</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of Vehicle pedestrians involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>PILLION</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of Pillion Passengers involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>MOTORIST</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of MOTORCYCLISTS involved in the crash.</td>
            <td></td>
        </tr>
        <tr>
            <td>UNKNOWN</td>
            <td>Number</td>
            <td>4</td>
            <td>Number of persons involved in crash not classified into a known category of road user by police report.
            </td>
            <td></td>
        </tr>
        <tr>
            <td>ALCOHOL_RELATED</td>
            <td>Text</td>
            <td>3</td>
            <td>Alcohol Related Crashes BAC&gt;0.001 and road user type=driver,rider,cyclist,pedestrian</td>
            <td>Yes, No</td>
        </tr>
    </tbody>
</table>
</details>

In [4]:
KEEP_COLUMNS = [
    "ACCIDENT_DATE",
    "ACCIDENT_TIME",
    "LGA_NAME",
    "LGA_NAME_ALL",
    "LATITUDE",
    "LONGITUDE",
    "ACCIDENT_TYPE",
    "RMA",
    "HIT_RUN_FLAG",
    "LIGHT_CONDITION",
    "POLICE_ATTEND",
    "ROAD_GEOMETRY",
    "SEVERITY",
    "SPEED_ZONE",
    "TOTAL_PERSONS",
    "FATALITY",
    "SERIOUSINJURY",
    "OTHERINJURY",
    "NONINJURED",
    "MALES",
    "FEMALES",
    "BICYCLIST",
    "PASSENGER",
    "DRIVER",
    "PEDESTRIAN",
    "PILLION",
    "MOTORIST",
    "UNKNOWN",
    "ALCOHOL_RELATED",
    "ALCOHOLTIME",
]

df = df[KEEP_COLUMNS]

### Temporal attributes

Convert `ACCIDENT_DATE` and `ACCIDENT_TIME` attributes into `datetime` type objects.

In [5]:
df.ACCIDENT_DATE = pd.to_datetime(df.ACCIDENT_DATE, format="%Y/%m/%d %H:%M:%S")
df.ACCIDENT_TIME = pd.to_datetime(df.ACCIDENT_TIME, format="%Y/%m/%d %H:%M:%S")
df["DATETIME"] = pd.to_datetime(df.ACCIDENT_DATE.dt.date.astype(str) + " " + df.ACCIDENT_TIME.dt.time.astype(str), format="%Y-%m-%d %H:%M:%S")
df.drop(columns=["ACCIDENT_DATE", "ACCIDENT_TIME"], inplace=True)

Create `DAY_OF_WEEK` attribute (since the provided one has missing values, and values which are incorrect).

In [6]:
df["DAY_OF_WEEK"] = df.DATETIME.dt.day_name()

### Spatial attributes

Ensure `LONGITUDE` and `LATITUDE` attribute values are within acceptable ranges and are of the correct data type (float).

In [7]:
df = df[(df.LATITUDE < -33) & (df.LATITUDE > -40) & (df.LONGITUDE > 140) & (df.LONGITUDE < 150)]

Clean `LGA_NAME` by transforming values from unincorporated areas into appropriate Local Government Area values. This includes ensuring the values are the same as appears in the TopoJSON file used for map visualisation (hence, Title Case is required).

- `(FALLS CREEK)` -> `ALPINE`
- `(FRENCH ISLAND)` -> `BASS COAST`
- `(LAKE MOUNTAIN)` - > `MURRINDINDI`
- `(MOUNT BAW BAW)` - > `BAW BAW`
- `(MOUNT BULLER)` - > `MANSFIELD`
- `MOUNT BULLER ALPINE RESOR` - > `MANSFIELD`
- `(MOUNT STIRLING)` - > `MANSFIELD`
- `MOUNT STIRLING ALPINE RES` - > `MANSFIELD`
- `(MOUNT HOTHAM)` - > `ALPINE`
- `COLAC-OTWAY` - > `COLAC OTWAY`

In [8]:
# transform inconsistent values
df.LGA_NAME = df.LGA_NAME.str.replace("(FALLS CREEK)", "ALPINE", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(FRENCH ISLAND)", "BASS COAST", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(LAKE MOUNTAIN)", "MURRINDINDI", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(MOUNT BAW BAW)", "BAW BAW", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(MOUNT BULLER)", "MANSFIELD", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("MOUNT BULLER ALPINE RESOR", "MANSFIELD", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(MOUNT STIRLING)", "MANSFIELD", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("MOUNT STIRLING ALPINE RES", "MANSFIELD", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("(MOUNT HOTHAM)", "ALPINE", regex=False)
df.LGA_NAME = df.LGA_NAME.str.replace("COLAC-OTWAY", "COLAC OTWAY", regex=False)

# replace empty string in LGA_NAME with string from LGA_NAME_ALL
name = df.LGA_NAME.to_list()
name_all = df.LGA_NAME_ALL.str.replace(",.*", "", regex=True).to_list()
for index, value in enumerate(name):
    if value == " ":
        name[index] = name_all[index]
df.LGA_NAME = name
df.drop(columns="LGA_NAME_ALL", inplace=True)

# transform to title case
df.LGA_NAME = df.LGA_NAME.str.title()

### Demographic attributes

These atttributes are already within logical bounds and without nan values.

In [9]:
df[["TOTAL_PERSONS", "MALES", "FEMALES", "BICYCLIST", "PASSENGER", "DRIVER", "PEDESTRIAN", "PILLION", "MOTORIST", "UNKNOWN"]].describe()

,TOTAL_PERSONS,MALES,FEMALES,BICYCLIST,PASSENGER,DRIVER,PEDESTRIAN,PILLION,MOTORIST,UNKNOWN
count,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000,75207.000000
mean,2.339490,1.297166,0.914423,0.093582,0.477615,1.438457,0.111359,0.005412,0.156940,0.056099
std,1.489952,0.977336,1.044875,0.302006,1.138310,0.901668,0.383321,0.074266,0.372774,0.412525
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000
max,89.000000,30.000000,51.000000,7.000000,85.000000,21.000000,41.000000,2.000000,5.000000,52.000000

### Outcome attributes

These attributes are already within logical bounds and without nan values.

In [10]:
df[["FATALITY", "SERIOUSINJURY", "OTHERINJURY", "NONINJURED"]].describe()

           FATALITY  SERIOUSINJURY   OTHERINJURY    NONINJURED
count  75207.000000   75207.000000  75207.000000  75207.000000
mean       0.021979       0.418405      0.833819      1.065127
std        0.156275       0.645098      0.781207      1.264487
min        0.000000       0.000000      0.000000      0.000000
25%        0.000000       0.000000      0.000000      0.000000
50%        0.000000       0.000000      1.000000      1.000000
75%        0.000000       1.000000      1.000000      1.000000
max        6.000000      18.000000     44.000000     87.000000

In [11]:
df.SEVERITY.unique()

df.SEVERITY.value_counts()

array(['Serious injury accident', 'Other injury accident',
       'Fatal accident', 'Non injury accident'], dtype=object)

Other injury accident      46972
Serious injury accident    26667
Fatal accident              1566
Non injury accident            2
Name: SEVERITY, dtype: int64

### Condition attributes

Convert `ALCOHOLTIME` and `ALCOHOL_RELATED` into boolean values.

In [12]:
df.ALCOHOLTIME = df.ALCOHOLTIME.map({'Yes': True, 'No': False})
df.ALCOHOL_RELATED = df.ALCOHOL_RELATED.map({'Yes': True, 'No': False})

There are 5411 nan values in the `RMA` column. These rows won't be removed, but will simply be ignored in the visualisations including this attribute.

In [13]:
df.RMA.value_counts(dropna=False)

Arterial Other      25854
Local Road          25027
Arterial Highway    13314
Freeway              5578
NaN                  5411
Non Arterial           23
Name: RMA, dtype: int64

In [14]:
df.SPEED_ZONE = df.SPEED_ZONE.map({
    "30km/hr": "30 km/hr",
    "40 km/hr": "40 km/hr",
    "50 km/hr": "50 km/hr",
    "60 km/hr": "60 km/hr",
    "70 km/hr": "70 km/hr",
    "75 km/hr": "75 km/hr",
    "80 km/hr": "80 km/hr",
    "90 km/hr": "90 km/hr",
    "100 km/hr": "100 km/hr",
    "110 km/hr": "110 km/hr",
    "Not known": "Unknown",
    "Camping grounds or off road": "Off road",
    "Other speed limit": "Other",
})

In [15]:
df.LIGHT_CONDITION = df.LIGHT_CONDITION.map({
    'Day': "Day",
    'Dusk/Dawn': "Dusk/Dawn",
    'Dark No street lights': "Dark (no lights)",
    'Dark Street lights on': "Dark (lights on)",
    'Dark Street lights off': "Dark (lights off)",
    'Dark Street lights unknown': "Dark (lights unknown)",
    'Unk.': "Unknown",
})

### Other attributes

In [16]:
df.ACCIDENT_TYPE = df.ACCIDENT_TYPE.map({
    'Struck Pedestrian': "Pedestrian",
    'Struck animal': "Animal",
    'Collision with vehicle': "Vehicle",
    'Collision with a fixed object': "Fixed object",
    'collision with some other object': "Other object",
    'No collision and no object struck': "No collision",
    'Vehicle overturned (no collision)': "Overturned (no collision)",
    'Fall from or in moving vehicle': "Fall from or in moving vehicle",
    'Other accident': "Other",
})

In [17]:
df.HIT_RUN_FLAG = df.HIT_RUN_FLAG.map({
    "Yes": "True",
    "No": "False",
    "Not known": "Unkown",
})

In [18]:
df.POLICE_ATTEND = df.POLICE_ATTEND.map({
    "Yes": "True",
    "No": "False",
    "Not known": "Unkown",
})

### Rename columns

In [19]:
df = df.rename(columns={
    "DATETIME": "datetime",
    "DAY_OF_WEEK": "day_of_week",
    "LGA_NAME": "lga",
    "LATITUDE": "latitude",
    "LONGITUDE": "longitude",
    "ACCIDENT_TYPE": "type",
    "RMA": "road_class",
    "LIGHT_CONDITION": "light_condition",
    "POLICE_ATTEND": "police_attended",
    "ROAD_GEOMETRY": "road_geometry",
    "SPEED_ZONE": "speed_zone",
    "SEVERITY": "severity",
    "FATALITY": "total_fatal",
    "SERIOUSINJURY": "total_serious_injury",
    "OTHERINJURY": "total_other_injury",
    "NONINJURED": "total_non_injury",
    "TOTAL_PERSONS": "total_persons",
    "MALES": "total_male",
    "FEMALES": "total_female",
    "BICYCLIST": "total_bicyclist",
    "PASSENGER": "totaL_passenger",
    "DRIVER": "total_driver",
    "PEDESTRIAN": "total_pedestrian",
    "PILLION": "total_pillion",
    "MOTORIST": "total_motorist",
    "UNKNOWN": "total_unknown",
    "HIT_RUN_FLAG": "is_hit_and_run",
    "ALCOHOL_RELATED": "is_alcohol_related",
    "ALCOHOLTIME": "is_alcohol_time",
})

### Sort values

In [20]:
df = df.sort_values("datetime")

### Reorder columns

In [21]:
df = df[[
    "datetime",
    "day_of_week",
    "lga",
    "latitude",
    "longitude",
    "type",
    "road_class",
    "is_hit_and_run",
    "light_condition",
    "police_attended",
    "road_geometry",
    "speed_zone",
    "is_alcohol_related",
    "is_alcohol_time",
    "severity",
    "total_persons",
    "total_fatal",
    "total_serious_injury",
    "total_other_injury",
    "total_non_injury",
    "total_male",
    "total_female",
    "total_bicyclist",
    "totaL_passenger",
    "total_driver",
    "total_pedestrian",
    "total_pillion",
    "total_motorist",
    "total_unknown",
]]

In [22]:
df

,datetime,day_of_week,lga,latitude,longitude,type,road_class,is_hit_and_run,light_condition,police_attended,...,total_non_injury,total_male,total_female,total_bicyclist,totaL_passenger,total_driver,total_pedestrian,total_pillion,total_motorist,total_unknown
12,2015-07-01 01:37:00,Wednesday,Wyndham,-37.868424,144.733170,Overturned (no collision),Arterial Other,False,Dark (lights on),True,...,0,1,0,0,0,0,0,0,1,0
6,2015-07-01 03:05:00,Wednesday,Monash,-37.893493,145.093413,Vehicle,Arterial Highway,False,Dark (lights on),True,...,2,2,0,0,1,2,0,0,1,0
1419,2015-07-01 04:10:00,Wednesday,Yarra Ranges,-37.897932,145.357961,Animal,Arterial Other,False,Dark (no lights),False,...,0,1,0,0,0,0,0,0,1,0
47,2015-07-01 04:30:00,Wednesday,Geelong,-38.150540,144.581600,Vehicle,NaN,False,Dark (no lights),True,...,1,1,2,0,0,1,2,0,0,0
13,2015-07-01 04:30:00,Wednesday,Casey,-37.996330,145.269155,Pedestrian,Freeway,False,Dark (lights on),True,...,1,2,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75264,2020-06-30 18:50:00,Tuesday,Moonee Valley,-37.739500,144.875380,No collision,Local Road,False,Dark (lights on),True,...,0,1,0,0,0,1,0,0,0,0
65684,2020-06-30 19:30:00,Tuesday,Melbourne,-37.811201,144.965223,Vehicle,Local Road,False,Dark (lights on),True,...,1,2,0,1,0,1,0,0,0,0
62389,2020-06-30 19:35:00,Tuesday,Geelong,-38.248573,144.537441,Pedestrian,Arterial Other,False,Dark (no lights),True,...,1,2,0,0,0,1,1,0,0,0
65808,2020-06-30 20:15:00,Tuesday,Port Phillip,-37.830889,144.965102,Overturned (no collision),Arterial Highway,Unkown,Dark (lights on),True,...,1,1,0,0,0,0,0,0,1,1
65799,2020-06-30 21:04:00,Tuesday,Yarra,-37.818280,144.995068,Other object,Arterial Other,False,Dark (lights on),True,...,0,1,0,0,0,0,0,0,1,0

In [25]:
df.severity.value_counts()

Other injury accident      46972
Serious injury accident    26667
Fatal accident              1566
Non injury accident            2
Name: severity, dtype: int64

In [33]:
df.sort_values("total_persons")

,datetime,day_of_week,lga,latitude,longitude,type,road_class,is_hit_and_run,light_condition,police_attended,...,total_non_injury,total_male,total_female,total_bicyclist,totaL_passenger,total_driver,total_pedestrian,total_pillion,total_motorist,total_unknown
12,2015-07-01 01:37:00,Wednesday,Wyndham,-37.868424,144.733170,Overturned (no collision),Arterial Other,False,Dark (lights on),True,...,0,1,0,0,0,0,0,0,1,0
30167,2017-07-28 19:47:00,Friday,Mitchell,-37.099085,144.846651,Fixed object,Arterial Highway,False,Dark (no lights),True,...,0,0,1,0,0,1,0,0,0,0
29053,2017-07-28 13:10:00,Friday,Mitchell,-37.473014,144.969135,Fixed object,Local Road,False,Day,True,...,0,1,0,0,0,1,0,0,0,0
29498,2017-07-28 12:45:00,Friday,Melbourne,-37.814923,144.982700,Vehicle,Local Road,False,Day,True,...,0,1,0,0,0,1,0,0,0,0
70076,2017-07-28 09:00:00,Friday,Surf Coast,-38.365828,143.952144,Animal,Local Road,False,Day,True,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,2015-10-05 08:30:00,Monday,Strathbogie,-36.847845,145.343042,Vehicle,Freeway,False,Day,True,...,33,25,21,0,46,2,0,0,0,0
22829,2016-12-13 14:20:00,Tuesday,Melbourne,-37.817162,144.953218,Fixed object,NaN,False,Day,False,...,43,1,10,0,0,1,0,0,0,49
52532,2019-07-11 02:05:00,Thursday,Horsham,-36.562513,142.115851,Overturned (no collision),Arterial Highway,False,Dark (no lights),True,...,3,18,26,0,49,2,0,0,0,0
27258,2017-05-22 08:05:00,Monday,Melbourne,-37.788376,144.949762,Vehicle,Arterial Other,False,Day,True,...,31,19,35,0,0,2,0,0,0,52
1354,2015-08-06 14:00:00,Thursday,Benalla,-36.523290,146.036646,Vehicle,Arterial Other,False,Day,True,...,87,30,51,0,85,2,0,0,0,2

## Save to CSV

In [28]:
df.to_csv("../data/derived/CarCrashData-Cleaned.csv", index=False)